.leute-app-container {
    max-height: calc(100vh - 50px);
    overflow: auto;
}

.container6 {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center }

.footer {
    position: fixed;
    color: grey;
    left: 0;
    margin-bottom: 16px;
    bottom: 0;
    width: 100%;
    text-align: center;
}
